*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background:rgb(15, 19, 250);
    font-family: Arial, Helvetica, sans-serif;
}

#principal{
    display:flex;
    max-width:1200px;
    width:100%;
    margin:auto;
}
header{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    min-width: 320px;
    height:100px;
    background-color:rgb(15, 19, 250);
    position:fixed;
    margin-left:30px;
    width:100%;
    margin:auto;
    max-width:1200px;
    color:white;


}
header .header{
   
}

#titulo{
   display:flex;
   flex-wrap: wrap;
   justify-content:center;
   justify-items: center;
   margin:auto;
   max-width:400px;
   padding:8px;
}
#menu{
    display:flex;
    justify-content: center;
    justify-items: center;
}
#menu li{
    list-style: none;
    margin:auto;
    padding:3px;
}
#menu li > a{
    background:grey;
    color:white;
    padding:7px;
    border-radius:3px;
}
#menu li > a:hover{
    background:rgb(54, 54, 54);
    color:white;
    padding:7px;
}
#base{
    display:flex;
    justify-items: center;
    flex-wrap:wrap;
    align-items: center;
    
}
#hamburguer{
    display:none;
}
.material-symbols-outlined{
    display:none;
    padding:5px;
}
.produto{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 60% 20%;
    justify-items: center;
    justify-content: center;
    text-align: center;
    border:1px solid rgb(107, 107, 107);
    min-width: 150px;
    max-width:250px;
    width:100%;
    margin:5px;
    height:300px;
    padding:10px;
    background:white;
    border-radius:5px;
}
.produto img{
    max-width: 200px;
    width:100%;
    max-height:150px;
    height:100%;
}
section #produto{
    display:flex;
    flex-wrap: wrap;
    min-width: 200px;
    justify-content:center;
   
    margin-top:50px;
    margin-top:150px;
    max-width:1200px;
    margin:110px auto 10px auto;
}
.title{
    font-size: 1.2em;
}
.prod{
    min-width:200px;
    margin-top:5px;
    
}
.description{
    margin-top:5px;
    font-size:1.2em;
    margin-bottom:30px;
}
footer{
    margin-top:10px;
    margin-bottom:50px;
    color:white;
    text-align:center;
    padding:5px;
    max-width:1200px;
}
@media screen and (max-width:320px){
    header{
        height:130px;
    }
    header #titulo h1{
        font-size:1.3em;
    }
    .header{
        justify-content: center;
    }

}
@media screen and (max-width:775px){
    header{
        height:130px;
    }
    header #titulo h1{
        font-size: 1.4em;
    }
    section #produto{
        margin-top:140px;
    }
}
@media screen and (max-width:360px){
    #base #titulo h1{
        font-size: 1.6em;
        margin-bottom:5px;
    }
    #base #titulo p{
        font-size: 1.1em;
    }
    .produto{
        min-width: 150px;
        max-width:310px;
        width:100%;
    }
}
@media screen and (max-width:420px){
    #base #titulo h1{
        font-size: 1.6em;
        margin-bottom:5px;
    }
    #base #titulo p{
        font-size: 1.1em;
    }
    .produto{
        min-width: 150px;
        max-width:310px;
        width:100%;
    }
}
@media screen and (max-width:300px){
    #base #titulo h1{
        font-size: 1.6em;
        margin-bottom:5px;
    }
    #base #titulo p{
        font-size: 1.1em;
    }
    .produto{
        min-width: 150px;
        max-width:300px;
        width:100%;
    }
}